[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ai2thor = "*"
opencv-python = "*"
numpy = "*"
requests = "*"
python-socketio = "*"
python-socketio-client = "*"
sqlalchemy = "*"
pandas = "*"
matplotlib = "*"
seaborn = "*"

[dev-packages]

[requires]
python_version = "3.9"
